[Unit]
Description=Sleep on LAN

[Service]
Type=simple
# The config has the UDP port set to 8009 instead of 9
ExecStart=/home/max/go/bin/sleep-on-lan --config /home/max/.config/sleep-on-lan.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
